<!DOCTYPE html>

<head>
  <title>
    低代码平台
  </title>
  <style>
    html,
    body {
      user-select: none;
      -webkit-user-select: none;
    }
  </style>
</head>

<body>
  <div id="root">
  </div>
  <script src="https://cdn.mananacare.cn/react/umd/react.production.min.js"></script>
  <script src="https://cdn.mananacare.cn/react-dom/umd/react-dom.production.min.js"></script>
  <!-- <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script> -->
  <script src="https://cdn.mananacare.cn/moment/min/moment-with-locales.js"></script>
  <script src="https://cdn.mananacare.cn/antd/dist/antd-with-locales.min.js"></script>
</body>